body{
    background-image: url(IMG-20240222-WA0175.jpg);
    background-attachment: fixed;
    background-size: cover;
    
    
}
.center{
    text-align: center;
    margin-top: 296px;
    font-family: tahoma;
}
h1{
    color: white;
    font-size: 82px;
    font-style: italic;
}
span{
    color: #ff731c;
}
button{
    background:#ff731c ;
    padding: 13px 40px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border: none;
    font-weight: bolder;
}
nav{
    color: white;
    position: relative;
    top: 40px;
    left: 75px;
    display: inline-block;
    font-family: tahoma;
    font-weight: bolder;
}
a{
    text-decoration: none;
    color: white;
}
